<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysc.springboot.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.ysc.springboot.pojo.Product">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="baseColumn">
        id, name
    </sql>

    <sql id="tableName">
        product
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="baseColumn" />
        from <include refid="tableName" />
    </select>

    <insert id="insert">
        insert into <include refid="tableName"></include>
        (id, name)
        values (#{id}, #{name})
    </insert>

    <insert id="insertMuti">
        <foreach collection="collection" item="item" separator=";">
            insert into <include refid="tableName"></include>
            (id, name)
            values (#{item.id}, #{item.name})
        </foreach>
    </insert>

    <select id="selectInLock" resultMap="BaseResultMap">
        select <include refid="baseColumn"></include>
        from  <include refid="tableName"></include>
        where id = #{id}
        for update;
    </select>

</mapper>